<div id="cookie-consent" class="cookie-consent">
    <p>This website uses cookies to ensure you get the best experience on our website.</p>
    <button id="accept-cookies" class="btn btn-primary">Accept Cookies</button>
</div>
